$display-font-weight: 900;
$headings-font-weight: 600;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Workaround for https://github.com/parcel-bundler/parcel/issues/6285.
$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

.page {
  max-width: 1000px;
}

header[data-bs-theme="dark"] {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    letter-spacing: 0.1em;
  }
}

a {
  --bs-link-color-rgb: var(--text-body-secondary);
  --bs-link-hover-color-rgb: var(--bs-emphasis-color-rgb);
}

.title-row {
  column-gap: 0.35em;
}

@media print {

  @page {
    margin: 5mm 0;
  }

  @page :first {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  body.py-5 {
    padding: 0 !important;
  }

  .page {
    .container {
      max-width: unset;
    }

    &.shadow {
      box-shadow: none !important;
    }
  }

  .title-row {
    break-after: avoid;
    break-inside: avoid;
  }
}
